@import url('https://fonts.googleapis.com/css2?family=Anton&family=Berkshire+Swash&family=Caveat+Brush&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+10&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Myanmar:wght@100;200;300;400;500;600;700;800;900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Shadows+Into+Light+Two&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background: #0a0f2c;
  font-family: "Berkshire Swash", serif;
  font-style: normal;
  overflow: hidden;
}
body::before {
  content: "";
  display: block;
  position: fixed;
  top: 90%;
  left: 50%;
  width: 200vmax;
  height: 200vmax;
  background: white;
  transform: translate(-50%, 0) rotate(1deg);
  border-radius: 100% / 20%;
  z-index: -1;
}
/* Title texts */
.title {
  height: 100px;
  text-align: center;
  color: white;
  margin-top: 100px;
  padding: 0px 20px;
}
.title h1{
  font-size: 4rem;
  font-family: "Great Vibes", cursive;
}
.title p{
  padding: 15px 0px;
  font-family: "EB Garamond", serif;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 100px;
}

/* Snow container */
#snow {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 0;
}

/* Tree container */
.tree-container {
  position: relative;
  width: 400px;
  height: 500px;
  z-index: 1;
}

/* Circle on top of tree */
.star {
  width: 20px;
  height: 22px;
  background: #fffa70;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 20px 5px #fffaa0;
  animation: twinkle 1.5s infinite alternate;
}

/* Twinkle animation */
@keyframes twinkle {
  0% {
    box-shadow: 0 0 10px 3px #fffaa0;
  }
  100% {
    box-shadow: 0 0 25px 10px #fffaa0;
  }
}

/* CSS Tree */
.tree {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.layer {
  width: 0;
  height: 0;
  margin: -30px auto;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-bottom: 140px solid green;
}

.layer.top {
  border-left-width: 70px;
  border-right-width: 70px;
  border-bottom-width: 100px;
  border-bottom-color: #27b94f;
}
.layer.middle {
  border-left-width: 100px;
  border-right-width: 100px;
  border-bottom-width: 130px;
  border-bottom-color: #27b94f;
}
.layer.bottom {
  border-left-width: 130px;
  border-right-width: 130px;
  border-bottom-width: 170px;
  border-bottom-color: #27b94f;
}

/* Stem */
.stem {
  width: 50px;
  height: 70px;
  background: #5b2f14;
  margin: -10px auto 0;
  border-radius: 5px;
}

/* Gifts */
.gift {
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.25s;
}

.gift:hover {
  transform: scale(1.15) rotate(5deg);
}
.gift img{
  width: 50px;
  height: 50px;
}

.g0 {
  left: 230px;
  top: 25px;
  transform: rotate(10deg);
}
.g1 {
  left: 120px;
  top: 80px;
  transform: rotate(-30deg);
}
.g2 {
  left: 100px;
  top: 220px;
  transform: rotate(-20deg);
}
.g3 {
  left: 250px;
  top: 125px;
  transform: rotate(22deg);
}
.g4 {
  left: 255px;
  top: 230px;
  transform: rotate(22deg);
}

/* Wish box */
#wishBox {
  max-width: 300px;
  min-width: 200px;
  min-height: 10px;
  padding: 50px 30px;
  text-align: center;
  font-size: 25px;
  color: #000;
  background-color: wheat;
  border: 5px dotted red;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: none;
}

/* Overlay*/
#overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  z-index: 5;
}

/* Hidden class */
.hidden {
  display: none;
}

/* Snowflakes */
.flake {
  width: 6px;
  height: 6px;
  position: absolute;
  top: -10px;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(110vh);
    opacity: 0.3;
  }
}

/* Responsive */
@media (max-width: 768px){
  .title{
    margin: 60px 10px;
  }
  .title h1{
    font-size: 3rem;
  }
  .tree-container{
    margin-top: 30px;
  }
  #wishBox{
    padding: 50px 25px;
    font-size: 20px;
    border: 5px dotted red;
  }
}
